.grn-btn {
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
    border-radius: 4px;
    background-color: green;
}

body {
  background-color: #262626;
}
.centrabox {
    border-radius: 25px;
    border: 2px transparent;
    padding: 20px; 
    height: auto;
    margin: auto;
    width: 50%;
    text-align: center;
    text-color: #FFFFFF;
}
p {
    font-family: sans-serif;
    color: #FFFFFF;
}

h1 {
    font-family: sans-serif;
    color: #FFFFFF;
}

a {
    font-family: sans-serif;
    color: #FFFFFF;
}

h2 {
    font-family: sans-serif;
    color: #FFFFFF;
}

h3 {
    font-family: sans-serif;
    color: #FFFFFF;
}

h4 {
    font-family: sans-serif;
    color: #FFFFFF;
}
