body {
  background-color: #555555;
}
.centrabox {
    border-radius: 0.7in;
    border: 0.1in transparent;
    padding: 0.5in; 
    height: auto;
    margin: auto;
    width: 50%;
    text-align: center;
    text-color: #FF0000;
}
p {
    font-family: sans-serif;
    color: #FF0000;
}

h1 {
    font-family: sans-serif;
    color: #FF0000;
}

a {
    font-family: sans-serif;
    color: #FF0000;
}

h2 {
    font-family: sans-serif;
    color: #FF0000;
}

h3 {
    font-family: sans-serif;
    color: #FF0000;
}

h4 {
    font-family: sans-serif;
    color: #FF0000;
}
